<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="/style/hariom.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    <title>Hariom Kumar's Page</title>
    <style>
      body {
        display: table-row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
  
      .download-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
      .download-btn:hover {
        background-color: #45a049;
      }
    </style>
</head>
<body>

  <h1 class="rm">Welcome to Hariom Kumar's Page</h1>
  <p class="rm">This is the content for Hariom Kumar's page.</p>

  <!-- Add your specific content for Hariom Kumar -->

  <div class="back-link rm">
    <a href="/">Back to Home</a>
  </div>


  <!-- <div class="profile">

    <div class="backround-img" style="height: 100px; width: 100%; background-color: rgb(199, 255, 208);">
      
    </div>

    <div class="mydp">
      <img src="img/aman.webp" alt="aman" style="height: 100px; width: 100px; border: 1px solid #000; border-radius: 50%; margin-top: -50px; margin-left: 22px; ">
    </div>
    <h1 style="font-size: 16px; margin-left: 22px;">Aman Kumar</h1>
    <div class="badge">
      <span class="badge text-bg-primary">Primary</span>
      <span class="badge text-bg-secondary">Secondary</span>
      <span class="badge text-bg-success">Success</span>
      <span class="badge text-bg-danger">Danger</span>
    </div>
  </div> -->

  <a href="img/amanpr.png" download="downloaded_image.jpg" class="download-btn">Aman Kumar Profile IMG</a> <br>
  <a href="img/amanparents.png" download="downloaded_image.jpg" class="download-btn">Aman Kumar father : Jackal Sinaha</a>

  <div class="button-container">
    <a href="/" class="nav-button">Home</a>
    <a href="/explore" class="nav-button">Zone</a>
    <a href="/learn" class="nav-button">Learn</a>
    <a href="/myprofile" class="nav-button">Profile</a>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-nvVh8w+Ttp6aDrZSmVsbuorF6/KJemLg6usM9X1AjoDZhI3RizL1W0S2TJC3e8DH" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>
